<div class="login-container">
  <div class="login-card">
    <h2>Flight Management System</h2>
    <h3>Login</h3>

    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
      <div class="form-input">
        <label for="email">Email</label>

        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="loginData.email"
          #email="ngModel"
          placeholder="Enter your email"
          required
          email
        />
      </div>

      <div class="form-input">
        <label for="password">Password</label>

        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="loginData.password"
          #password="ngModel"
          placeholder="Enter your password"
          required
        />
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</div>
