<div class="details-container" *ngIf="flight">
  <div class="details-card">
    <div class="details-header">
      <h2>Flight Details</h2>
      <span class="status">{{ flight.status }}</span>
    </div>

    <div class="flight-number">
      <span>Flight Number</span>
      <strong>{{ flight.flight_number }}</strong>
    </div>

    <div class="details-grid">
      <div class="detail-item">
        <span>Airline</span>
        <strong>
          {{ airline?.airline_name }} ({{ airline?.airline_code }})
        </strong>
      </div>

      <div class="detail-item">
        <span>Aircraft</span>
        <strong>{{ aircraft?.model }}</strong>
      </div>

      <div class="detail-item">
        <span>Departure Airport</span>
        <strong>
          {{ departureAirport?.airport_name }}
          ({{ departureAirport?.airport_code }})
        </strong>
      </div>

      <div class="detail-item">
        <span>Arrival Airport</span>
        <strong>
          {{ arrivalAirport?.airport_name }}
          ({{ arrivalAirport?.airport_code }})
        </strong>
      </div>

      <div class="detail-item">
        <span>Departure Time</span>
        <strong>{{ flight.departure_time }}</strong>
      </div>

      <div class="detail-item">
        <span>Arrival Time</span>
        <strong>{{ flight.arrival_time }}</strong>
      </div>
    </div>

    <div class="price">
      <span>Base Price</span>
      <strong>₹{{ flight.base_price }}</strong>
    </div>
    <button
      class="book-btn"
      [routerLink]="['/flights', flight.flight_id, 'book']"
    >
      Book Flight
    </button>
  </div>
</div>
